header {
    background-image: url('../assets/poster.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

@media only screen and (max-width: 1200px){
    header {
        height: 60vh;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px){
    header{
        height: 100vh;
    }
}

@media only screen and (max-width: 600px){
    header {
        height: 60vh;
    }
}